<div class="container">
  <div class="logo-container">
    <!--suppress HtmlUnknownTarget -->
    <img alt="logo" src="./logo.svg">
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ 'installation.mainHeader' | translate }}</h3>
    </div>
    <div class="panel-body">
      <form [formGroup]="installationForm" (ngSubmit)="install()" novalidate>

        <pony-error [error]="error" [ignoredCodes]="['VALIDATION']"></pony-error>

        <div class="mb-3" formArrayName="libraryFolders">
          <span>
            <label class="control-label">{{ 'installation.libraryFoldersLabel' | translate }}</label>
          </span>
          <pony-error-container #libraryFoldersContainer class="library-folders-container"
                                *ngFor="let libraryFolder of libraryFolders.controls; let i = index;"
                                [formGroupName]="i" [error]="error" [field]="'libraryFolders[' + i + '].path'">
            <div class="input-group" [class.is-invalid]="libraryFoldersContainer.hasErrors">
              <input ponyAutoFocus formControlName="path" type="text" class="form-control library-folders"
                     [class.is-invalid]="libraryFoldersContainer.hasErrors" [placeholder]="'installation.libraryFoldersPlaceholder' | translate">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default add"
                        [disabled]="libraryFolders.controls.length >= 5"
                        (click)="addLibraryFolder()">
                  <i class="fa fa-plus"></i>
                </button>
                <button type="button" class="btn btn-default remove"
                        [disabled]="libraryFolders.controls.length <= 1"
                        (click)="removeLibraryFolder(i)">
                  <i class="fa fa-minus"></i>
                </button>
              </span>
            </div>
          </pony-error-container>
        </div>

        <div class="mb-3">
          <pony-error-container #nameContainer class="form-group" [error]="error" [field]="'adminName'">
            <label for="adminName" class="control-label">{{ 'installation.adminNameLabel' | translate }}</label>
            <input id="adminName" formControlName="adminName" type="text" class="form-control"
                   [class.is-invalid]="nameContainer.hasErrors" [placeholder]="'installation.adminNamePlaceholder' | translate">
          </pony-error-container>
        </div>

        <div class="mb-3">
          <pony-error-container #adminEmailContainer class="form-group" [error]="error" [field]="'adminEmail'">
            <label for="adminEmail" class="control-label">{{ 'installation.adminEmailLabel' | translate }}</label>
            <input id="adminEmail" formControlName="adminEmail" type="text" class="form-control"
                   [class.is-invalid]="adminEmailContainer.hasErrors" [placeholder]="'installation.adminEmailPlaceholder' | translate">
          </pony-error-container>
        </div>

        <div class="mb-3">
          <pony-error-container #adminPasswordContainer class="form-group" [error]="error" [field]="'adminPassword'">
            <label for="adminPassword" class="control-label">{{ 'installation.adminPasswordLabel' | translate }}</label>
            <input id="adminPassword" formControlName="adminPassword" type="password" class="form-control"
                   [class.is-invalid]="adminPasswordContainer.hasErrors" [placeholder]="'installation.adminPasswordLabel' | translate">
          </pony-error-container>
        </div>

        <div class="mb-3">
          <pony-error-container #repeatAdminPasswordContainer class="form-group" [error]="error" [field]="'repeatAdminPassword'">
            <label for="repeatAdminPassword"
                   class="control-label">{{ 'installation.repeatAdminPasswordLabel' | translate }}</label>
            <input id="repeatAdminPassword" formControlName="repeatAdminPassword" type="password" class="form-control"
                   [class.is-invalid]="repeatAdminPasswordContainer.hasErrors" [placeholder]="'installation.repeatAdminPasswordPlaceholder' | translate">
          </pony-error-container>
        </div>

        <div class="mb-3">
          <pony-error-container #installationSecretContainer class="form-group" [error]="error" [field]="'installationSecret'">
            <label for="installationSecret"
                   class="control-label">{{ 'installation.installationSecretLabel' | translate }}</label>
            <input id="installationSecret" formControlName="installationSecret" type="password" class="form-control"
                   [class.is-invalid]="installationSecretContainer.hasErrors" [placeholder]="'installation.installationSecretPlaceholder' | translate">
          </pony-error-container>
        </div>

        <div class="install-button-container">
          <button type="submit" class="btn btn-primary btn-lg">{{ 'installation.installButton' | translate }}</button>
        </div>

      </form>
    </div>
  </div>
</div>
