.container {
  max-width: 600px;

  .logo-container {
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;

    img {
      width: 283px;
      height: 67px;
    }
  }

  h3 {
    text-align: center;
    margin-bottom: 16px;
  }

  .input-group {
    button:disabled {
      border: 0;
    }
  }

  pony-error-container {
    display: block;
  }

  label {
    font-weight: bold;
  }

  input.library-folders {
    border-radius: 6px !important;
  }

  button.add {
    margin-left: 10px;
  }

  .library-folders-container {
    margin-bottom: 6px;
  }

  .install-button-container {
    text-align: center;

    button {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
}
