.container {
  max-width: 400px;

  .logo-container {
    padding-top: 20px;
    margin-bottom: 15px;
    text-align: center;

    img {
      width: 283px;
      height: 67px;
    }
  }

  .form-group {
    margin-bottom: 10px;
  }

  .btn-primary {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}
