.columns-container {
  display: flex;
  width: 100%;
  border-radius: 6px;
  height: 76px;
}

.track-number {
  text-align: center;
  padding: 8px 0 8px 12px;
  line-height: 58px;
  color: var(--color-text-muted);

  .bi {
    color: var(--color-text-default);
  }

  .playback-indicator.bi-volume-off-fill {
    margin-left: -1px;
  }

  .playback-indicator.bi-volume-up-fill {
    margin-left: 7px;
  }

  div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 40px;
  }
}

.artwork {
  padding: 8px;

  pony-image-loader {
    width: 60px;
    height: 60px;
  }
}

.song {
  flex-grow: 1;
  min-width: 0;
  padding: 14px 8px 8px 8px;

  small {
    color: var(--color-text-muted);

    b {
      color: var(--color-text-default);
    }
  }

  div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

button.playback {
  border: none;
  background-color: var(--color-button-background-transparent);
  margin: 0;
  padding: 0;
}

.like-container {
  min-width: 36px;
  max-width: 36px;
  line-height: 75px;
  text-align: center;

  button {
    border: none;
    background-color: var(--color-button-background-transparent);
    margin: 0;
    padding: 0;
    color: var(--color-like-icon);
  }
}

.duration {
  padding: 8px;
  color: var(--color-text-muted);
  line-height: 60px;
  min-width: 58px;
  max-width: 58px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.options {
  padding: 8px 12px 8px 0;

  button.menu {
    border: none;
    background-color: var(--color-button-background-transparent);
    margin-top: 17px;
    margin-bottom: 17px;
  }

  .dropdown-toggle::after {
    display: none;
  }
}

.dropdown-menu button i {
  margin-right: 12px;
}

.columns-container.current {
  background-color: var(--color-current-item-background);
}

.columns-container:hover {
  background-color: var(--color-list-hover-background);
  cursor: pointer;
}

.columns-container.selected {
  background-color: var(--color-selection-background) !important;
  color: var(--color-selection-text);

  small, small>b {
    color: var(--color-selection-text);
  }

  .track-number {
    color: var(--color-selection-text);

    .bi {
      color: var(--color-selection-text);
    }
  }

  button.playback, div.playback-indicator {
    color: var(--color-selection-text);
  }

  .duration {
    color: var(--color-selection-text);
  }

  .options {

    button.menu {
      color: var(--color-selection-text);
    }

    button.menu:active {
      color: var(--color-menu-active-text-on-selection);
    }
  }
}
