:host {
  display: block;
  position: relative;
  background-color: #f5f5f5;
  border: 1px solid #ddd;

  .container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }

  img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
  }

  img.loaded {
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  img.animated {
    opacity: 1;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .fade-in {
    animation: fadeIn 0.1s linear forwards;
  }

  .new {
    position: absolute;
    top: 2%;
    left: 2%;
    color: white;
    font-weight: bold;
    font-size: 9px;
    background-color: #ff5900;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;      /* Vertical centering */
    justify-content: center;   /* Horizontal centering */
    padding: 1.5px 3px 2.5px 2.5px;         /* Equal padding */
    line-height: 1;
    border: 1px solid #fcba03;
  }
}
