.loading-indicator-container {
  text-align: center;

  .loading-indicator-spinner {
    --bs-spinner-width: 20px;
    --bs-spinner-height: 20px;
    --bs-spinner-border-width: 3px;
    margin-right: 10px;
    vertical-align: middle;
  }

  .loading-indicator-label {
    vertical-align: middle;
  }
}
