$color-brand-primary: #428bca;
$color-brand-accent: #5bc0de;

$color-link: $color-brand-primary;
$color-selection-background: $color-brand-primary;
$color-selection-text: white;

$color-surface-default: white;
$color-panel-header-background: #f5f5f5;
$color-image-placeholder-background: #f5f5f5;
$color-list-hover-background: #f5f5f5;
$color-table-row-alternate-background: #f5f5f5;
$color-current-item-background: #ffffee;
$color-menu-active-text-on-selection: #f5f5f5;

$color-panel-border: #ddd;
$color-content-divider: #ddd;
$color-image-placeholder-border: #ddd;
$color-control-border: #cccccc;
$color-table-border: #cccccc;

$color-text-muted: #909090;
$color-text-strong: #333333;
$color-text-default: #212529;
$color-footer-text: #777;
$color-error-text: #a94442;

$color-settings-divider: #999999;
$color-player-scrub-tooltip-background: #999;
$color-player-scrub-tooltip-text: white;
$color-player-scrub-marker-border: #999;
$color-player-scrub-played-marker-border: #e9ecef;
$color-playback-progress-background: $color-brand-accent;

$color-button-background-transparent: transparent;
$color-like-icon: #fcba03;
$color-new-badge-background: #ff5900;
$color-new-badge-text: white;
$color-new-badge-border: #fcba03;
$color-floating-action-background: rgba(255, 255, 255, 0.8);

$color-status-info: #337ab7;
$color-status-success: #5cb85c;
$color-status-danger: #d9534f;
$color-status-warning: #f0ad4e;

// Override Bootstrap colors.
$min-contrast-ratio: 3;
$blue: $color-brand-primary;
$dropdown-min-width: 100px;

@import 'bootstrap/scss/bootstrap';

@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';

@import 'ngx-toastr/toastr';
@import 'ngx-toastr/toastr-bs5-alert';

// Set global colors.
:root {
  --color-brand-primary: #{$color-brand-primary};
  --color-brand-accent: #{$color-brand-accent};

  --color-link: #{$color-link};
  --color-selection-background: #{$color-selection-background};
  --color-selection-text: #{$color-selection-text};

  --color-surface-default: #{$color-surface-default};
  --color-panel-header-background: #{$color-panel-header-background};
  --color-image-placeholder-background: #{$color-image-placeholder-background};
  --color-list-hover-background: #{$color-list-hover-background};
  --color-table-row-alternate-background: #{$color-table-row-alternate-background};
  --color-current-item-background: #{$color-current-item-background};
  --color-menu-active-text-on-selection: #{$color-menu-active-text-on-selection};

  --color-panel-border: #{$color-panel-border};
  --color-content-divider: #{$color-content-divider};
  --color-image-placeholder-border: #{$color-image-placeholder-border};
  --color-control-border: #{$color-control-border};
  --color-table-border: #{$color-table-border};

  --color-text-muted: #{$color-text-muted};
  --color-text-strong: #{$color-text-strong};
  --color-text-default: #{$color-text-default};
  --color-footer-text: #{$color-footer-text};
  --color-error-text: #{$color-error-text};

  --color-settings-divider: #{$color-settings-divider};
  --color-player-scrub-tooltip-background: #{$color-player-scrub-tooltip-background};
  --color-player-scrub-tooltip-text: #{$color-player-scrub-tooltip-text};
  --color-player-scrub-marker-border: #{$color-player-scrub-marker-border};
  --color-player-scrub-played-marker-border: #{$color-player-scrub-played-marker-border};
  --color-playback-progress-background: #{$color-playback-progress-background};

  --color-button-background-transparent: #{$color-button-background-transparent};
  --color-like-icon: #{$color-like-icon};
  --color-new-badge-background: #{$color-new-badge-background};
  --color-new-badge-text: #{$color-new-badge-text};
  --color-new-badge-border: #{$color-new-badge-border};
  --color-floating-action-background: #{$color-floating-action-background};

  --color-status-info: #{$color-status-info};
  --color-status-success: #{$color-status-success};
  --color-status-danger: #{$color-status-danger};
  --color-status-warning: #{$color-status-warning};
}

*:focus-visible {
  border-radius: 6px;
  outline: solid 4px var(--bs-border-color);
}

.pony-dropdown {
  .selected {
    font-weight: bold;
  }
}
