cdk-virtual-scroll-viewport {
  height: 532px;

  ::ng-deep > div {
    width: 100%;
  }
}

.table-container {
  padding: 16px;
  height: 532px;
}

.modal-footer {
  justify-content: space-between;

  small {
    text-align: right;
    flex-grow: 1;
    color: var(--bs-gray);
  };
}
