.modal-body {
  overflow-x: auto;
}

.table-scroller {
  width: 100%;
  height: 500px;
  margin: 0 0 16px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #cccccc;
}

form {

  margin-bottom: 16px;

  label {
    font-weight: bold;
    margin-right: 12px;
  }

  select {
    display: inline;
    width: 120px;
    margin-right: 12px;
    vertical-align: middle;
  }

  input {
    display: inline;
    width: 120px;
    margin-right: 12px;
    vertical-align: middle;
  }

  button {
    margin-right: 6px;
  }
}

table {

  margin: 0;
  table-layout:fixed;

  .date {
    width: 180px;
  }

  td {
    border-top: 1px solid #cccccc;

    button {
      margin-right: 10px;
    }
  }

  tr:first-child {
    td {
      border: 0;
    }
  }

  tr:nth-child(odd) {
    td {
      background-color: #f5f5f5;
    }
  }

  .log-level {
    width: 100px;
  }
}

.pagination-container {

  .page-label {
    text-align: center;
    line-height: 37px;
  }

  .next-button-container {
    text-align: right;
  }

  pony-loading-indicator, pony-error-indicator {
    line-height: 37px;
  }
}

.log-level.debug {
  color: #337ab7;
}

.log-level.info {
  color: #5cb85c;
}

.log-level.error {
  color: #d9534f;
}

.log-level.warn {
  color: #f0ad4e;
}

.exception {
  margin-top: 12px;
}
