h4 {
  flex-grow: 1;
}

select {
  margin-left: 6px;
  width: 350px;
}

button.edit {
  margin-left: 6px;
}

cdk-virtual-scroll-viewport {
  height: 462px;

  ::ng-deep > div {
    width: 100%;
  }
}

.table-container {
  padding: 16px;
  min-height: 462px;
}

pony-large-song {
  display: block;
}
