.select-container {
  margin-bottom: 0 !important;
}

.selected {
  font-weight: bold;
}

.btn-group {
  width: 100%;

  button {
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    height: 38px;
  }

  .dropdown-toggle::after {
    float: right;
    margin-top: 10px;
  }

  .dropdown-menu {
    min-width: 100%;
  }
}
