h4 {
  flex-grow: 1;
}

select {
  margin-left: 6px;
  width: 350px;
}

button.edit {
  margin-left: 6px;
}

cdk-virtual-scroll-viewport {
  height: 462px;

  ::ng-deep > div {
    width: 100%;
  }
}

.table-container {
  padding: 16px;
  min-height: 462px;
}

pony-large-song {
  display: block;
}

.cdk-drag-placeholder {
  visibility: hidden;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

.modal-footer {
  .spacer {
    flex-grow: 1;
  }
}
