h4 {
  flex-grow: 1;

  i {
    margin-right: 8px;
  }
}

.btn-group.playlist {
  margin-left: 6px;
  width: 350px;

  button {
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 38px;
  }

  .dropdown-toggle::after {
    float: right;
    margin-top: 10px;
  }

  .dropdown-menu {
    min-width: 100%;
  }

  .like {
    font-weight: bold;
  }
}

@media (width <= 1000px) {
  .btn-group.playlist {
    width: 200px;
  }
}

@media (width <= 450px) {
  .btn-group.playlist {
    width: 120px;
  }
  .modal-footer {
    small {
      display: none;
    }
  }
}

@media (width <= 400px) {
  .btn-group.filter {
    width: 90px;
  }
}

.btn-group.filter {
  ul {
    max-width: 252px;
    max-height: 260px;
    overflow-y: auto;
    text-align: center;

    button {
      max-width: 252px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    button.selected {
      font-weight: bold;
    }
  }
}

button.edit, button.filter {
  margin-left: 6px;
}

cdk-virtual-scroll-viewport {
  height: 462px;

  ::ng-deep > div {
    width: 100%;
  }

  pony-loading-indicator, pony-error-indicator {
    display: block;
    padding-top: 32px;
  }
}

.table-container {
  padding: 16px;
  min-height: 462px;
}

pony-large-song {
  display: block;
}

.cdk-drag-placeholder {
  visibility: hidden;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

.modal-footer {

  small {
    color: var(--bs-gray);
  }

  .spacer {
    flex-grow: 1;
  }
}
