cdk-virtual-scroll-viewport {
  height: 460px;
}

.vertical-align-container {
  display: table;
  height: 100%;
  overflow: hidden;

  .vertical-align-target {
    display: table-cell;
    vertical-align: middle;
  }
}

.table-container {
  padding: 16px;
}

.columns-container {
  display: flex;
  width: 100%;
  border-radius: 6px;
  height: 76px;
}

.track-number {
  text-align: center;
  font-weight: bold;
  padding: 8px 0 8px 12px;

  .fa-volume-off {
    padding-right: 8px;
  }

  .vertical-align-container {
    width: 50px;
  }
}

.artwork {
  padding: 8px;

  pony-image-loader {
    width: 60px;
    height: 60px;
  }
}

.artist {
  padding: 8px;
  font-weight: bold;
  text-align: center;
}

.song {
  width: 100%;
  padding: 8px;

  small {
    color: #909090;
  }
}

.duration {
  padding: 8px;
  color: #909090;
}

.options {
  padding: 8px 12px 8px 0;

  button.menu {
    border: none;
    background-color: transparent;
    margin-top: 1px;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-menu button i {
    margin-right: 12px;
  }
}

.columns-container:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.columns-container.selected {
  background-color: var(--blue) !important;
  color: white;

  small {
    color: white;
  }

  .duration {
    color: white;
  }

  .options {

    button.menu {
      color: white;
    }

    button.menu:active {
      color: #f5f5f5;
    }
  }
}

.modal-footer button {
  i {
    margin-right: 2px;
  }
}

.cdk-drag-placeholder {
  visibility: hidden;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}
