.modal-body {
  height: 460px;
  overflow-y: auto;
  /* Scrolling performance optimization */
  transform: translateZ(0);
}

table {
  margin-bottom: 0;
}

td:first-child {
  border-radius: 6px 0 0 6px;
}

td:last-child {
  border-radius: 0 6px 6px 0;
}

td {
  vertical-align: middle;
  background-color: white;
}

tr:hover td {
  background-color: #f5f5f5;
  cursor: pointer;
}

tr.selected td {
  background-color: var(--blue) !important;
  color: white;

  small {
    color: white;
  }
}

td:first-child {
  padding-left: 12px;
  padding-right: 0;
}

td:last-child {
  padding-left: 0;
  padding-right: 12px;
}

.track-number {
  width: 40px;
  text-align: center;
  font-weight: bold;

  .fa-volume-off {
    padding-right: 8px;
  }
}

.artwork {
  width: 0;

  pony-image-loader {
    width: 60px;
    height: 60px;
  }
}

.artist {
  font-weight: bold;
  min-width: 120px;
  width: 0;
  text-align: center;
}

.song small {
  color: #909090;
}

.duration {
  width: 0;
  text-align: right;
  color: #909090;
}

.modal-footer button {
  i {
    margin-right: 2px;
  }
}

.drag {

  > button {
    border: none;
    background-color: transparent;
  }
}

tr.selected .drag {

  > button {
    color: white;
  }

  > button:active {
    color: #f5f5f5;
  }
}

.options {

  > button {
    border: none;
    background-color: transparent;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-menu button i {
    margin-right: 12px;
  }
}

tr.selected .options {

  > button {
    color: white;
  }

  > button:active {
    color: #f5f5f5;
  }
}

.cdk-drag-preview {
  display: table;
}

.cdk-drag-placeholder {
  opacity: 0;
}
