h4 {
  i {
    margin-right: 8px;
  }
}

.modal-body {
  overflow-x: auto;
}

table.status-container {
  width: 100%;
  margin-bottom: 16px;

  td {
    .progress {
      height: 20px;
    }
  }

  td.label {
    font-weight: bold;
    width: 0;
    padding-right: 20px;
    padding-bottom: 8px;
  }

  td.value {
    padding-bottom: 8px;
  }

  .progress {
    height: 20px;
  }

  button {
    margin-top: 6px;
  }
}

table.log-container {
  border: 1px solid var(--color-table-border);
  width: 100%;
  margin: 0 0 16px;

  thead {
    border-bottom: 1px solid var(--color-table-border);

    .startDate {
      width: 180px;
    }

    .updateDate {
      width: 180px;
    }

    .status {
      width: 130px;
    }
  }

  tbody {
    border: 1px solid var(--color-table-border);
  }

  .scan-job-status.starting {
  }

  .scan-job-status.started {
    color: var(--color-status-info);
  }

  .scan-job-status.complete {
    color: var(--color-status-success);
  }

  .scan-job-status.failed {
    color: var(--color-status-danger);
  }

  .scan-job-status.interrupted {
    color: var(--color-status-warning);
  }

  .log-message {
    display: inline-block;
    max-width: 480px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    margin-bottom: -6px;
  }

  td {
    white-space: nowrap;
    height: 56px;
    vertical-align: middle;
  }
  td.details-button {
    text-align: right;
  }
}

.pagination-container {

  .page-label {
    text-align: center;
    line-height: 37px;
  }

  .next-button-container {
    text-align: right;
  }

  pony-loading-indicator, pony-error-indicator {
    line-height: 37px;
  }
}
