.container {

  padding-left: 16px;
  padding-right: 16px;

  table.status-container {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;

    td {
      padding-top: 5px;
      padding-bottom: 5px;

      .progress {
        height: 20px;
      }
    }

    td.label {
      font-weight: bold;
      width: 0;
      padding-right: 20px;
    }

    .progress {
      height: 20px;

      .progress-bar {
        background-color: #428bca;
      }
    }

    button {
      background-color: #428bca;
    }
  }

  table.log-container {
    border: 1px solid #cccccc;
    width: 100%;
    margin: 0;

    thead {
      border-bottom: 1px solid #cccccc;
    }

    tbody {
      border: 1px solid #cccccc;
    }
  }

  .indicator-container {
    position: relative;
  }

  .indicator {
    position: absolute;
    left: 0;
    right: 0;
    height: 204px;
    top: 41px;
    padding-top: 15px;
    background-color: rgba(255, 255, 255, .6);
  }

  .indicator.hidden {
    display: none;
  }

  .pagination-container {
    padding-top: 7px;
    padding-bottom: 16px;

    .page-label {
      text-align: center;
      line-height: 37px;
    }

    .next-button-container {
      text-align: right;
    }
  }
}
