.modal-body {
  max-height: 480px;
  overflow-y: auto;
}

label {
  font-weight: bold;
}

.scan-job-status.started {
  color: var(--color-status-info);
}

.scan-job-status.complete {
  color: var(--color-status-success);
}

.scan-job-status.failed {
  color: var(--color-status-danger);
}

.scan-job-status.interrupted {
  color: var(--color-status-warning);
}

.log-level.info {
  color: var(--color-status-success);
}

.log-level.error {
  color: var(--color-status-danger);
}

.log-level.warn {
  color: var(--color-status-warning);
}

.exception {
  margin-top: 12px;
}
