.modal-body {
  max-height: 480px;
  overflow-y: auto;
}

label {
  font-weight: bold;
}

.scan-job-status.started {
  color: #337ab7;
}

.scan-job-status.complete {
  color: #5cb85c;
}

.scan-job-status.failed {
  color: #d9534f;
}

.scan-job-status.interrupted {
  color: #f0ad4e;
}

.log-level.debug {
  color: #337ab7;
}

.log-level.info {
  color: #5cb85c;
}

.log-level.error {
  color: #d9534f;
}

.log-level.warn {
  color: #f0ad4e;
}

.exception {
  margin-top: 12px;
}
