table.status-container {
  width: 100%;
  margin-bottom: 16px;

  td {
    .progress {
      height: 20px;
    }
  }

  td.label {
    font-weight: bold;
    width: 0;
    padding-right: 20px;
    padding-bottom: 8px;
  }

  td.value {
    padding-bottom: 8px;
  }

  .progress {
    height: 20px;
  }

  button {
    margin-top: 6px;
  }
}

table.log-container {
  border: 1px solid #cccccc;
  width: 100%;
  margin: 0 0 16px;

  thead {
    border-bottom: 1px solid #cccccc;

    .startDate {
      width: 180px;
    }

    .updateDate {
      width: 180px;
    }

    .status {
      width: 130px;
    }
  }

  tbody {
    border: 1px solid #cccccc;
  }

  .scan-job-status.starting {
  }

  .scan-job-status.started {
    color: #337ab7;
  }

  .scan-job-status.complete {
    color: #5cb85c;
  }

  .scan-job-status.failed {
    color: #d9534f;
  }

  .scan-job-status.interrupted {
    color: #f0ad4e;
  }

  .log-message {
    display: inline-block;
    width: 580px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    margin-bottom: -6px;
  }
}

.pagination-container {

  .page-label {
    text-align: center;
    line-height: 37px;
  }

  .next-button-container {
    text-align: right;
  }

  pony-loading-indicator, pony-error-indicator {
    line-height: 37px;
  }
}
