.modal-body {
  padding-bottom: 0;
}

.blocking-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

label {
  font-weight: bold;
}

input.library-folders {
  border-radius: 6px !important;
}

button.add {
  margin-left: 10px;
}

.input-group {
  button {
    border: 0;
  }
}

.library-folders-container {
  margin-bottom: 6px;
  display: block;
}

pony-loading-indicator, pony-error-indicator {
  position: absolute;
  left: 16px;
}
