.modal-body {
  overflow-x: auto;
}

.create-user-button {
  margin-bottom: 16px;
}

table {
  border: 1px solid #cccccc;
  width: 100%;
  margin: 0 0 16px;

  thead {
    border-bottom: 1px solid #cccccc;
    white-space: nowrap;
  }

  tbody {
    border: 1px solid #cccccc;
  }

  td {
    vertical-align: middle;
    line-height: 42px;
    white-space: nowrap;

    button {
      margin-left: 10px;
    }
  }
  td.actions {
    text-align: right;
  }

  .role.admin {
    font-weight: bold;
  }
}

.pagination-container {

  .page-label {
    text-align: center;
    line-height: 37px;
  }

  .next-button-container {
    text-align: right;
  }

  pony-loading-indicator, pony-error-indicator {
    line-height: 37px;
  }
}
