.panel {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;

  border-radius: 5px;
  border: 1px solid #ddd;

  pony-loading-indicator, pony-error-indicator {
    margin-top: 2em;
    display: block;
  }

  .panel-title {
    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;
    padding-left: 15px;
    line-height: 42px;

    small {
      float: right;
      font-size: 0.7em;
      padding-right: 12px;
      color: var(--bs-gray);
      font-weight: normal;
    }
  }

  .album-list-container {
    position: absolute;
    top: 43px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    overflow-y: auto;
    /* Scrolling performance optimization */
    transform: translateZ(0);
  }
}
