.album-container {
  clear: both;

  pony-image-loader {
    float: left;
    width: 140px;
    height: 140px;
    margin-bottom: 50px;
  }

  pony-image-loader.pointer {
    cursor: pointer;
  }

  .options {
    display: inline-block;
    padding: 0;

    button.menu {
      border: none;
      background-color: transparent;
      margin-left: 0 !important;
      padding: 0 0 2px 0;

      i {
        font-size: 18px;
        color: var(--bs-body-color);
      }
    }

    .dropdown-toggle::after {
      display: none;
    }
  }

  .song-list-container {
    margin-left: 150px;
    margin-bottom: 50px;

    h4 {
      margin-top: 0;
      border-bottom: 1px solid #ddd;
      padding-bottom: 2px;

      span, small {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      span {
        font-size: 24px;
        display: inline-block;
        line-height: 32px;
        max-width: 700px;
      }

      @media (0 <= width < 1060px) {
        span {
          max-width: 350px;
        }
      }
      @media (1060px <= width < 1200px) {
        span {
          max-width: 400px;
        }
      }
      @media (1200px <= width < 1472px) {
        span {
          max-width: 550px;
        }
      }

      button {
        margin-left: 5px;
        float: right;
      }

      small {
        font-weight: normal;
        color: #909090;
        display: inline-block;
        line-height: 30px;
        padding-left: 6px;
      }
    }
  }
}

.dropdown-menu button i {
  margin-right: 12px;
}

:host:last-child {

  .song-list-container {
    min-height: 140px;
  }

  pony-image-loader {
    margin-bottom: 0;
  }

  .song-list-container {
    margin-bottom: 0;
  }
}
