.panel {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;

  border-radius: 6px;
  border: 1px solid var(--color-panel-border);
  overflow: hidden;

  pony-loading-indicator, pony-error-indicator {
    margin-top: 2em;
    display: block;
  }

  .panel-title {
    border-bottom: 1px solid var(--color-panel-border);
    background-color: var(--color-panel-header-background);
    padding: 0 15px 0 15px;
    line-height: 39px;
    height: 41px;
    display: flex;

    div {
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    button {
      border: 1px solid var(--color-panel-border);
      margin-left: 2px;
      vertical-align: 2px;

      i {
        padding-right: 6px;
      }
      i.no-padding {
        padding-right: 0;
      }
    }

    .artist-name {
      flex-grow: 1;
      font-size: 20px;
      padding-right: 6px;
      min-width: 250px;
    }

    .counts {
      color: var(--color-text-muted);
      font-weight: normal;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 15px;

      a {
        cursor: pointer;
        text-decoration: underline;
        color: inherit;
      }
    }

    .sort-container {
      vertical-align: top;
    }
  }

  .album-list-container {
    position: absolute;
    top: 41px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    overflow-y: auto;
    /* Scrolling performance optimization */
    transform: translateZ(0);
  }
}
