.panel {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;

  border-radius: 6px;
  border: 1px solid #ddd;
  overflow: hidden;

  pony-loading-indicator, pony-error-indicator {
    margin-top: 2em;
    display: block;
  }

  .panel-title {
    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;
    padding-left: 15px;
    line-height: 36px;
    height: 37px;

    span {
      display: inline-block;
      max-width: 300px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    button {
      border: 1px solid #ddd;
      margin-left: 2px;
      margin-top: -4px;

      i {
        padding-right: 6px;
      }
    }

    small {
      color: var(--bs-gray);
      font-weight: normal;
      display: inline-block;
      max-width: 300px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    small.counts {
      font-size: 0.7em;
      float: right;
      padding-right: 12px;

      a {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .album-list-container {
    position: absolute;
    top: 37px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    overflow-y: auto;
    /* Scrolling performance optimization */
    transform: translateZ(0);
  }
}
