.panel {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;

  border-radius: 6px;
  border: 1px solid var(--color-panel-border);
  overflow: hidden;

  pony-loading-indicator, pony-error-indicator {
    margin-top: 4em;
    display: block;
  }

  pony-no-content-indicator {
    display: block;
  }

  .header {

    background-color: var(--color-panel-header-background);
    border-bottom: 1px solid var(--color-panel-border);

    button.genre {
      border: 0;
      line-height: 36px;
      height: 36px;
      padding: 0 0 0 50px;
      width: 261px;
      font-weight: 500;
      font-size: 1.25rem;
      background-color: var(--color-panel-header-background);
      color: var(--bs-heading-color);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    ul.genre-list {
      width: 250px;
      text-align: center;
      padding: 0;
      margin-left: 24px !important;

      .search-genre {
        padding: 6px;
        border-bottom: solid 1px var(--color-panel-border);

        input {
          width: 100%;
          margin: 0;
        }

        .search-icon {
          position: absolute;
          top: 13px;
          right: 18px;
          pointer-events: none;
          transform: scaleX(-1);
        }

        .clear-button {
          pointer-events: auto;
          cursor: pointer;
          position: absolute;
          top: 13px;
          right: 18px;
          width: 16px;
          height: 16px;
        }
      }

      .genre-scroller {
        max-height: 221px;
        overflow-y: auto;

        button {
          width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      .reset-container {
        padding: 4px 6px 6px 6px;
        border-top: solid 1px var(--color-panel-border);

        a {
          cursor: pointer;
        }
      }
    }

    .sort-container {
      button.sort {
        border: 1px solid var(--color-panel-border);
        margin-left: 2px;
        margin-top: -6px;
      }
    }
  }

  .list-container {

    position: absolute;
    top: 37px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    /* Scrolling performance optimization */
    transform: translateZ(0);

    .list-group {
      height: 100%;
      margin: 0;
    }
  }
}
