.panel {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;

  border-radius: 5px;
  border: 1px solid #ddd;

  pony-loading-indicator, pony-error-indicator {
    margin-top: 2em;
    display: block;
  }

  .list-container {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    /* Scrolling performance optimization */
    transform: translateZ(0);

    .list-group {
      height: 100%;
      margin: 0;
    }
  }
}
