.container {
  position: relative;
}

input {
  padding-right: 32px;
}

input::placeholder {
  text-align: right;
}

.search-icon {
  position: absolute;
  top: 12.5px;
  right: 22px;
  pointer-events: none;
  transform: scaleX(-1);
}

.search-results {

  position: absolute;
  top: 42px;
  right: 0;
  width: 380px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  background-color: white;
  border: 1px solid #cccccc;
  text-align: left;

  h5 {
    margin: 6px 0 0;
    padding: 8px;
    border-bottom: 1px solid #cccccc;
  }

  .link {
    background-color: white;
    white-space: nowrap;
    cursor: pointer;
    padding: 8px;

    pony-image-loader {
      width: 48px;
      height: 48px;
      display: block;
      float: left;
      margin-right: 4px;
    }

    .text {
      height: 48px;
      margin-left: 54px;

      div {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      small {
        display: block;
        color: #909090;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .text.no-description {
      line-height: 48px;
    }
  }

  .link:hover, .link.selected {
    background-color: #f5f5f5;
  }

  .link.selected {
    border-left: 4px solid var(--blue);
    padding-left: 4px;
  }
}
