.library-root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: auto;

  .library-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 1024px;
    min-height: 250px;

    .header {
      position: absolute;
      top: 0;
      left: 20px;
      right: 20px;
      height: 94px;

      .logo-container {
        position: absolute;
        top: 20px;
        left: 0;
        width: 312px;
        bottom: 0;

        img {
          width: 312px;
          height: 74px;
        }
      }

      .player {
        position: absolute;
        top: 20px;
        left: 324px;
        right: 324px;
        bottom: 0;
        min-width: 336px;
      }

      @media (width <= 1472px) {
        .player {
          right: 240px;
        }
      }

      .toolbar {
        position: absolute;
        top: 20px;
        right: 0;
        width: 230px;
      }
    }

    .content {
      position: absolute;
      top: 106px;
      left: 20px;
      right: 20px;
      bottom: 20px;

      pony-artist-list {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 312px;
      }

      pony-album-list {
        position: absolute;
        top: 0;
        left: 322px;
        right: 0;
        bottom: 0;
      }
    }

    .footer {
      position: absolute;
      bottom: 4px;
      height: 20px;
      left: 20px;
      right: 20px;
      text-align: right;
      color: #777;

      small {
        font-size: 80%;
      }
    }

    a {
      color: #428bca
    }
  }
}
