.player-container {
  position: relative;
  height: 74px;
  max-width: 768px;
  margin: 0 auto;

  button.backward {
    margin-top: 14px;
    margin-right: 5px;
  }
  button.play {
    width: 49px;
    margin-top: 14px;
    margin-right: 5px;
    padding-right: 36px;
  }
  button.forward {
    margin-top: 14px;
  }

  .title-container {
    position: absolute;
    top: 0;
    left: 158px;
    right: 84px;
    text-align: center;

    .title {
      color: var(--bs-body-color);
      font-weight: bold;
      padding: 0 5px;
      border-radius: 6px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 100%;
      display: inline-block;
      text-decoration: none;
    }

    .title:hover {
      background-color: #f5f5f5;
    }

    .options {
      display: inline;
      position: inherit;

      button.menu {
        border: none;
        background-color: transparent;
      }

      .dropdown-toggle::after {
        display: none;
      }
    }
  }

  .dropdown-item i {
    margin-right: 12px;
  }

  .progress-container {
    position: absolute;
    left: 158px;
    right: 84px;
    bottom: 28px;
    cursor: pointer;

    .progress {
      position: absolute;
      width: 100%;
      bottom: 0;

      .progress-bar {
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
        background-color: var(--turquoise);
      }
    }

    .mouse-progress {
      position: absolute;
      bottom: 20px;
      background-color: #999;
      color: white;
      padding: 0 4px 0 4px;
      transform: translate(-50%);
      border-radius: 4px;
      font-size: 12px;
      user-select: none;
      opacity: 90%;
    }
    .mouse-position {
      position: absolute;
      bottom: 0;
      border-left: 1px solid #999;
      height: 16px;
    }
    .mouse-position.played {
      border-left: 1px solid #e9ecef;
    }
  }

  .time {
    position: absolute;
    left: 158px;
    bottom: 1px;
    color: #909090;
  }

  .loading-indicator-container {
    position: absolute;
    bottom: 8px;
    left: 158px;
    right: 84px;
    text-align: center;

    .loading-indicator {
      width: 15px;
      height: 15px;
      margin-bottom: -7px;
    }

    .error-indicator {
      width: 15px;
      height: 15px;
      margin-bottom: -7px;
    }
  }

  .like-container {

    position: absolute;
    bottom: 2px;
    left: 158px;
    right: 84px;
    text-align: center;

    button {
      background: transparent;
      color: #fcba03;
      font-size: 14px;
      border: 0;
    }
  }

  .duration {
    position: absolute;
    right: 84px;
    bottom: 1px;
    color: #909090;
  }

  pony-image-loader {
    position: absolute !important;
    bottom: 0;
    right: 0;
    width: 74px;
    height: 74px;
  }

  pony-image-loader.pointer {
    cursor: pointer;
  }
}
