.song-container {
  height: 26px;
  line-height: 26px;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;

  .track-number {
    position: absolute;
    left: 0;
    width: 35px !important;
    height: 26px !important;
    background-position: center right !important;
    text-align: right;
    color: #909090;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    >.bi {
      color: #333333;
      margin-right: -4px;
    }

    >.bi-volume-off-fill {
      padding-right: 4px;
    }

    span {
      margin-right: 4px;
    }

    button.playback {
      border: none;
      background-color: transparent;
      margin: 0;
      padding: 0;
      width: 12px;
    }
  }

  .duration {
    position: absolute;
    right: 0;
    width: 54px;
    height: 26px;
    padding-left: 5px;
    padding-right: 8px;
    color: #909090;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    button.menu {
      border: none;
      background-color: transparent;
      margin: 0;
      padding: 0;
      width: 30px;
    }

    button.menu:active {
      opacity: 90%;
    }
  }

  .title {
    width: 100%;
    height: 26px;
    padding-left: 45px;
    padding-right: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .title.like-shown {
    padding-right: 70px;
  }

  .like-container {
    position: absolute;
    right: 52px;
    height: 26px;

    button {
      border: none;
      background-color: transparent;
      margin: 0;
      padding: 0;
      color: #fcba03;
    }
  }

  .artist {
    width: 100%;
    padding-left: 45px;
    padding-right: 50px;
    font-size: 12px;
    margin-top: -8px;
    color: #909090;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: none;
  }
}

.song-container:hover {
  background-color: #f5f5f5;
}

.song-container.withArtist {
  height: 44px;

  .artist {
    display: block;
  }
}

.song-container.selected {
  background-color: var(--blue) !important;

  .track-number, .title, .artist, .duration {
    color: white;

    .bi {
      color: white;
    }
  }
}

div.menu {
  position: absolute;

  .dropdown-menu button {

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;

    i {
      margin-right: 12px;
    }
  }
}
