.toolbar-container {
  text-align: right;

  button.menu {
    max-width: 156px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .dropdown-menu {
    right: 0 !important;
    left: auto !important;

    .dropdown-item {
      padding-left: 32px;
      padding-right: 32px;
    }

    .username {
      color: var(--bs-body-color);
      font-weight: bold;
    }
  }

  .btn {
    margin-left: 6px;
  }

  pony-fast-search {
    display: block;
    margin-top: 6px;
    width: 210px;
    float: right;
  }
}
