.toolbar-container {
  text-align: right;

  .dropdown-menu {
    right: 0 !important;
    left: auto !important;

    .dropdown-item {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  .btn {
    margin-left: 6px;
  }

  pony-fast-search {
    display: block;
    margin-top: 6px;
  }
}
