.toolbar-container {
  text-align: right;

  .dropdown-menu {

    .dropdown-item {
      padding-left: 22px;
      padding-right: 22px;
    }

    .username {
      font-weight: bold;
      white-space: nowrap;
      padding-left: 22px;
      padding-right: 22px;
    }
  }

  .btn {
    margin-left: 6px;
  }

  .playback-mode {
    .btn {
      margin-left: 0;
    }
    ul i {
      margin-right: 12px;
    }
  }

  pony-fast-search {
    display: block;
    margin-top: 6px;
    width: 217px;
    float: right;
  }

  @keyframes spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .spin {
    display: inline-block;
    animation: spinner 2s linear infinite;
  }
}
